/*header-ის Responsive*/
@media(max-width:1700px){
    .btn-text{
        font-size:25px;
    }
}

@media(max-width:1495px){

}

@media(max-width:1390px){
    .magnify{
        font-size:10px;
    }
}

@media(max-width:1300px){

}

@media(max-width:1250px){
    .list-item{
        font-size:15px;
        margin-right: 0;
    }
    .logo-wrapper{
        width:233px;
        height: 40px;
    }

}

@media(max-width:1000px){
    .nav-ul{
        display: none;
    }

    .burger-bar{
        display: inline-block;
        font-size: 20px;
        color: #FFF;
        width: 20px;
        height: 20px;   
    }
    .btn-sub{
        max-width:180px ;
        width:100% ;
        height:auto ;
    }

    .btn-text{
        font-size: 20px;
    }
}

@media(max-width:700px){
    .main-header{
        font-size: 55px;
    }

    .header-info{
        font-size: 20px;
    }
}

@media(max-width:470px){
    .main-header{
        font-size: 35px;
    }

    .header-info{
        font-size: 10px;
    }
    .btn-sub{
        max-width:100px ;
        width:100% ;
        height:auto ;
    }

    .btn-text{
        font-size: 10px;
    }
}